
body{
	margin:0;
	font-family: 'Karla', sans-serif;
	color: white;
	display: contents;
}

#start-button{
	background-color: white;
	background: white;
	font-weight: 600 !important;
	font-size: 18 !important;
	color: #352800;
	border: none;
	padding: 12px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	border-radius: 8px;
}
#insta-logo{
	float:right;
	opacity: 70%;
}

#signup{
	display: none;
	background-color: black;
    opacity: 60%;
	height:100%;
	width:100%;
	position: absolute;
	top:0;
}

#site-title{
	/* margin:32px; */
	margin:0;
	padding:0;
}

#mc_embed_signup {
    background: inherit;
}

html { 
	background: url(background.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }

#title-col-left{
	width:50%;
	float:left;
	padding:32px;
}

#title-col-right{
	/* padding-right:32px; */
	width:40%;
	float:right;
	padding:32px;
}

#col-left{
	width:40%;
	padding-left:2%;
	padding-right:2%;
	float:left;
}

#col-right{
	width:50%;
	float:right;
}

#main-block{
	margin: 128 auto;

	/* position: absolute; */
	padding:32px;
	width: 936px;
	height: 548px;
	/* left: 307px; */
	top: 217px;

	background: rgba(0, 0, 0, 0.7);
	border-radius: 12px;
}
